<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

	<body>
		<%- include("./partials/header") %>
			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title">
						<%=productoEncontrado.nombreProducto%>
					</h2>
					<p class="product-detail-description">
						<a href="/products/add">Agregar producto</a>
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="/images/products/<%= productoEncontrado.foto%>" alt="" class="product-detail-img">
							<p class="product-detail-description">
								<%= productoEncontrado.descProducto %>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
						<% for(let i = 0; i < productoEncontrado.productoComentario.length; i++){ %>
							<article>
								<img src="<%= coment.comentarios.pp %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/user/id/<%=coment.comentarios.id%>"><%- coment.comentarios.username %> </a> </strong>
									 <%- coment.commentary %></p>
								</div>
							</article>
							<% } %> 
							</section>
							<form class="form" action="/products" method="GET">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->
			<%- include("./partials/footer") %>

	</body>

</html>