<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

	<body>
		<% if (locals.user !=undefined){%>
			<%- include('./partials/headerLogueado')%>
				<% } else { %>
					<%- include('./partials/header') %>
						<% } %>
							<!-- product detail -->
							<div class="container products-wrapper">
								<div class="d-flex align-items-center">
									<h2 class="products-title">
										<%=productoEncontrado.nombreProducto%>
									</h2>
									<p class="product-detail-description">
										<% if (condition) { %>
											<div class="actions">
												<a class="editar"
													href="/products/edit/<%= productoUsuario.id %>">Editar</a>
													<form action="/product/delete" method="POST">
														<input type="hidden" name="id" >
														<input class ="eliminar" type="submit" value="Eliminar">
													</form>
													</div>
									</p>
									<% } %>
										<% if (!condition) { %>
											<p class="usuario-producto">Producto cargado por <a
													class="usuario-producto2"
													href="/users/profile/<%= productoUsuario.id %>">
													<%= productoUsuario.nombre%>
												</a></p>
											<% } %>
								</div>
								<div class="product-detail">
									<div class="row">
										<article class="col-12 col-lg-8 product-detail-info">
											<img src="/images/products/<%= productoEncontrado.foto%>" alt=""
												class="product-detail-img">
											<p class="product-detail-description">
												<%= productoEncontrado.descProducto %>
											</p>
										</article>
										<div class="col-12 col-lg-4">
											<section class="comments">
												<% for (let i=0; i < productoComentario.length; i++){%>
													<article>
														<img src="<%= productoComentario[i].comentarioUsuario.foto%>"
															alt="Foto de usuario">
														<div class="data">
															<p class="user">
																<strong> <a
																		href="/users/profile/<%=productoComentario[i].comentarioUsuario.id%>">
																		<%= productoComentario[i].comentarioUsuario.nombre
																			%>
																	</a> </strong>
																<%=productoEncontrado.productoComentario[i].comentario%>
															</p>
														</div>
													</article>
													<%}%>
											</section>
											<% if (locals.user != undefined){ %>
												<form class="form" action= "/products/<%= productoEncontrado.id %>" method="post">
													<input name="comentario" class="form-input" type="text" value=""
														placeholder="Agregar comentario">
													<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
													</form>
											<% } else {%> 
												<a href="/users/login">Debes estar logueado para comentar!</a>
											<% } %> 
												<hr>
										</div>
									</div>
								</div>
							</div>
							<!-- /product detail -->
							<%- include("./partials/footer") %>

	</body>

</html>