profile-edit:
<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

	<body>
		<% if (locals.user !=undefined){%>
			<%- include('./partials/headerLogueado')%>
				<% } else { %>
					<%- include('./partials/header') %>
						<% } %>

							<!-- Novedades -->
							<div class="container products-wrapper">
								<div class="row">
									<div class="col-12">
										<h2 class="products-title">Editar mi perfil</h2>
									</div>
									<div class="img-container offset-3 col-2">
										<img src="/images/users/<%= usuario.foto %>" alt="foto de perfil"
											class="foto-perfil">
									</div>
									<!-- Show the "ultimos" products -->
									<h2 class="col-12">
										<form action="/users/edit" method="POST">
											<!-- Ingresamos la ruta para que no se rompa al enviar el form -->
											<input type="hidden" id="id" name="id" value="<%= usuario.id%>"><br><br>
											<label for="email">Nuevo email:</label>
											<input type="email" id="email" name="email"
												value="<%= usuario.email%>"><br><br>

											<% if (locals.errrors && locals.errors.email) {%>
												<p>
													<% locals.errors.email.msg %>
												</p>
												<% } %>

													<label for="nombre">Nuevo usuario:</label>
													<input type="text" id="nombre" name="nombre"
														value="<%= usuario.nombre%>"><br><br>

													<% if (locals.errrors && locals.errors.nombre) {%>
														<p>
															<% locals.errors.nombre.msg %>
														</p>
														<% } %>

															<label for="contrasenia">Nueva contraseña:</label>
															<input type="password" id="contrasenia" name="contrasenia"
																value="<%= usuario.contrasenia%>"><br><br>

															<% if (locals.errrors && locals.errors.contrasenia) {%>
																<p>
																	<% locals.errors.contrasenia.msg %>
																</p>
																<% } %>

																	<label for="fechaNacimiento">Nueva fecha de
																		Nacimiento:</label>
																	<input type="date" id="fechaNacimiento"
																		name="fechaNacimiento"
																		value="<%= usuario.fechaNacimiento %>"><br><br>

																	<% if (locals.errrors &&
																		locals.errors.fechaNacimiento) {%>
																		<p>
																			<% locals.errors.fechaNacimiento.msg %>
																		</p>
																		<% } %>

																			<label for="numeroDocumento">Nuevo número de
																				Documento:</label>
																			<input type="number" id="numeroDocumento"
																				name="numeroDocumento"
																				value="<%= usuario.numeroDocumento%>"><br><br>

																			<% if (locals.errrors &&
																				locals.errors.numeroDocumento) {%>
																				<p>
																					<% locals.errors.numeroDocumento.msg
																						%>
																				</p>
																				<% } %>

																					<label for="foto">Nueva foto de
																						Perfil:</label>
																					<input type="text" id="foto"
																						name="foto"
																						value="<%= usuario.foto%>"><br><br>

																					<button type="submit">Guardar
																						cambios</button>
										</form>
									</h2>

									<%- include("./partials/footer") %>
	</body>

</html>